/* Write your code here: */
h1, h2{
    color: blueviolet;
}

.box /*or div, cuz only one div*/ > p{
    color: firebrick;
}

.box /*or ul or .list*/ li{
    color: blue;
}

li.done{
    color: seagreen;
}
ul p.done{
    font-size: 0.5rem;;
}